*{

    padding: 0;
    margin: 0;
    box-sizing: none;

}

:root{

    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

.div-main{

    background-color: red;
    width: 400px;
    height: 400px;
    position: relative;
    left: 680px;
    top: 200px;

}

.icon-imagem:hover .div-main{

    padding-left: 20px;

}

.div-main:hover .icon-imagem{

    padding-left: 200px;

}